body{
	font-family: "Junction",serif;
	font-size: 17px;
}

/*sidebar*/

#sidebar-wrapper{
	z-index: 1;
	position: fixed;
	width: 0;
	height:100%;
	overflow-y:hidden;
	background: #2C3E50;
	opacity: 0.9;
}

/*page content*/

#page-content-wrapper{
	width: 100%;
	position: absolute;
	padding: 15px;
}

/*sidebar width change*/

#wrapper.menuDisplayed #sidebar-wrapper{
	width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper{
	padding-left:250px;
}

/*sidebar*/

.sidebar-nav{
	padding: 0;
	list-style: none;
}

.sidebar-nav li{
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a{
	display: block;
	text-decoration: none;
	color: #ddd;
	font-size: 17px;
}

.sidebar-nav li a:hover{
	background:#16A085 !important;
}

.sidebar-nav #dp{
	margin: 65px 0 30px 35px;
	font-size: 100px;
	color: #fff;
	border-radius: 50%;
}

/*panels*/

.panel-heading{
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	color:#a9374c !important;
}

.panel h3{
	text-align: center;
	font-size: 26px;
	font-weight: bold;
}

img{
	width: 100%;
}


/*tables*/

table .heading{
	font-weight: bold;
	font-size: 17px;
}

/*buttons*/

.btn-default{
	position: fixed;
	z-index: 1;
}

.btn-info{
	margin-left:25%;
}

/*modals*/

.modal{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.modal-header .modal-title{
	text-align: center;
	text-transform: uppercase;
	color:#18bc9c;
}

.modal-content{
	margin:15% auto;
	padding: 20px;
	width: 80%;
}

.modal-content label{
	font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
	font-size: 15px;
	color: #000;
}

/*navbar*/
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li{
	color: #000;
	text-transform: uppercase;
	font-size: 18px;
}

@media screen and (min-width: 510px) {
  
        .btn-info{
			margin-left:35%;
    	}
}
